@model List<FreelanceTimeCardTracker.Models.TimeCard>
@{
    ViewBag.Title = "History";
}

<h2>Submitted History</h2>

<div class="record-format">
    <div>
        <h5>Project</h5>
    </div>
    <div>
        <h5>Start Time</h5>
    </div>
    <div>
        <h5>End Time</h5>
    </div>
    <div>
        <h5>Notes</h5>
    </div>
</div>
<hr />

@if (Model.Count > 0)
{

    foreach (var card in Model)
    {
        if (card.End_DateTime != null)
        {
            <div class="record-format">
                <div>
                    <p>@card.Project</p>
                </div>
                <div>
                    <p>@Convert.ToDateTime(card.Start_DateTime).ToShortDateString() at @Convert.ToDateTime(card.Start_DateTime).ToShortTimeString()</p>
                </div>
                <div>

                    <p>@Convert.ToDateTime(card.End_DateTime).ToShortDateString() at @Convert.ToDateTime(card.End_DateTime).ToShortTimeString()</p>

                </div>
                <div>
                    <p>@card.Notes</p>
                </div>
            </div>
        }
    }
}


