@model FreelanceTimeCardTracker.Models.TimeCard
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
}

@*@section scripts {
    <script>
        var timeagoInstance = timeago();
        var nodes = document.querySelectorAll('.time-ago');
        timeagoInstance.render(nodes, 'en');
        // cancel real-time render for every node
        timeagoInstance.cancel()
        // or for the specific one
        timeagoInstance.cancel(nodes[0])
    </script>
    }*@


@if (Request.IsAuthenticated)
{
    <h2>Time Card</h2>

    if (Model.Start_DateTime == null)
    {
        <h3>Today's Date: @DateTime.Now.ToShortDateString()</h3>
        <form method="post" action="@Url.Action("Index")">
            <input type="hidden" name="Username" value="@User.Identity.GetUserName()" />
            <input type="hidden" name="Start_DateTime" value="@DateTime.Now" />
            <input type="hidden" name="Punch" value="punchin" />
            <button>Punch In</button>
        </form>
    }
    else
    {
        <h3>You clocked in on @Convert.ToDateTime(Model.Start_DateTime).ToShortDateString() at @Convert.ToDateTime(Model.Start_DateTime).ToShortTimeString()</h3>

        <p>@Model.Username</p>
        <form method="post" action="@Url.Action("Index")">
            <input type="hidden" name="End_DateTime" value="@DateTime.Now" />
            <input type="hidden" name="Username" value="@Model.Username" />
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="text" name="Project" value="Project Name" />
            <input type="text" name="Notes" value="Enter Notes Here" />
            <input type="hidden" name="Punch" value="punchout" />
            <button>Punch Out</button>
        </form>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}