@model FreelanceTimeCardTracker.Models.TimeCard
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
    double timezoneModifier = 0.0;

    int month = Convert.ToDateTime(Model.Start_DateTime).Month;
    string monthString = month.ToString();
    if (month < 10)
    {
        monthString = "0" + month;
    }

    int day = Convert.ToDateTime(Model.Start_DateTime).Day;
    string dayString = day.ToString();
    if (day < 10)
    {
        dayString = "0" + day;
    }

    int hour = Convert.ToDateTime(Model.Start_DateTime).Hour;
    string hourString = hour.ToString();
    if (hour < 10)
    {
        hourString = "0" + hour;
    }

    int minute = Convert.ToDateTime(Model.Start_DateTime).Minute;
    string minuteString = minute.ToString();
    if (minute < 10)
    {
        minuteString = "0" + minute;
    }

    int second = Convert.ToDateTime(Model.Start_DateTime).Second;
    string secondString = second.ToString();
    if (second < 10)
    {
        secondString = "0" + second;
    }

}

@section scripts {
    <script>
    function getTimezoneModifier() {
        var offset = new Date().getTimezoneOffset(), o = Math.abs(offset);
        var timezone = (offset < 0 ? "+" : "-") + ("00" + Math.floor(o / 60)).slice(-2) + ":" + ("00" + (o % 60)).slice(-2);

        var sdString = "@Convert.ToDateTime(Model.Start_DateTime).Year-@monthString-@dayString" + "T" + "@hourString:@minuteString:@secondString" + "Z";

        var sd = new Date(sdString);
        var dateString = sd.toUTCString();
        document.getElementById("localDateTime").innerHTML = sd.toLocaleString();
        document.getElementById("localDate").innerHTML = sd.toLocaleDateString;


    }
        window.onload = getTimezoneModifier();
    </script>
}




@if (Request.IsAuthenticated)
{
    <h2>Time Card</h2>


    if (Model.Start_DateTime == null)
    {
        <span>Today's Date: @DateTime.Now.ToShortDateString()</span>
        <span id="localDate"></span>
        <form method="post" action="@Url.Action("Index")">
            <input type="hidden" name="Username" value="@User.Identity.GetUserName()" />
            <input type="hidden" name="Start_DateTime" value="@DateTime.Now" />
            <input type="hidden" name="Punch" value="punchin" />
            <button>Clock In</button>
        </form>
    }
    else
    {
        <span>You clocked in at:</span>
        <span id="localDateTime"></span>


        <form method="post" action="@Url.Action("Index")">
            <input type="hidden" name="End_DateTime" value="@DateTime.Now" />
            <input type="hidden" name="Username" value="@Model.Username" />
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="text" name="Project" placeholder="Project Name" />
            <input type="text" name="Notes" placeholder="Enter notes here" />
            <input type="hidden" name="Punch" value="punchout" />
            <button>Clock Out</button>
        </form>
    }
}
else
{
    <h2>Welcome!</h2>
    <h4>Please @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) or @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to Clock in or out.</h4>

}


<script></script>